h1 {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    text-align: center;
}

p {
    color: #fff;
}

.formExplan__h4 {
    padding-bottom: 2rem;
    text-align: center;
    margin: 1rem;
    margin-left: 4rem;
    margin-right: 4rem;
}

.input__section {
    padding: 3rem;
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
}

#formStyle {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#nameError__span {
    text-wrap:inherit;
}

input {
    width: 30rem;
    font-size: 1.5rem;
    text-align: left;
    color: #000;
    text-overflow: inherit;
    white-space: wrap;
    margin: 1rem;
}

textarea {
    width: 30rem;
    font-size: 1.5rem;
    color: #000;
    margin-bottom: 1rem;
}

label {
    font-size: 1.4rem;
    text-align: center;
    display: block;
    color: #fff;
    margin: 0 auto;
}

#comment__input {
    height: 10rem;
}

button {
    width: 7rem;
    height: 4rem;
    background-color: #940000;
    font-size: 1.3rem;
    border: .3rem solid #400000 ;
    border-radius: 1rem;
}

.validFormPopup__h3 {
    color: #006c02;
    text-align: center;
    font-size: 2rem;
    margin-left: 4rem;
    margin-right: 4rem;

}

@media screen and (max-width: 768px){
    input {
        width: 20rem;
        font-size: 1.5rem;
        text-align: left;
        color: #000;
        text-overflow: inherit;
        white-space: wrap;
        margin: 1rem;
    }

    textarea {
        width: 20rem;
        font-size: 1.5rem;
        color: #000;
        margin-bottom: 1rem;
    }
}