#bookGrid {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem;
    text-align: center;
}

#bookGrid > * {
  flex: 1 1 calc(23% - 1rem);
  max-width: calc(23% - 1rem);
  min-width: none;
}

#bookGrid > * {
  min-width: 250px;
  box-sizing: border-box;
}

#covers__img {
  max-width: 50%;
  height: auto;
  display: block;
  margin: 1rem;
}

#libr__h1 {
    padding: 2rem;
    text-align: center;
}

.itemText {
    padding: 2rem;
}

#gridBox_div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: .5rem;
  height: 32rem;
  min-height: 30rem;
  width: auto;
  background: #1d1d1d;
  border-radius: .33rem;
}

select {
    font-size: 1rem;
    margin-left: 1rem;
}


@media screen and (max-width: 768px) {
  #bookGrid > * {
    flex: 1 1 calc(52% - 50px);
    max-width: calc(52% - 50px);
  }
}

@media screen and (max-width: 480px) {
  #bookGrid > * {
    flex: 1 1 100%;
    max-width: 100%;
  }
}
